.container{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}

.about_section{
    margin-left: 108px;
    margin-right: 108px;
    margin-bottom: 201px;
}

.collapse_row{
    display: flex;
    gap: 76px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .container{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

    .collapse_row {
        flex-direction: column;
        gap: 0;
    }

    .about_section {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 168px;
    }
}