.about_gallery_container{
    max-width: 1023px;
    height: 184px;
    width: 100%;
    padding-top: 31px;
    padding-bottom: 31px;
}

.about_container{
    max-width: 1023px;
    width: 100%;
    height: 47px;
    border-radius: 5px;
    background-color: #FF6060;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
}

.about_title{
    font-size: 24px;
    font-weight: 500;
    font-family: Montserrat;
    color: white;
}

.about_text{
    width: 100%;
    color: #FF6060;
    font-weight: 400;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 34px;
    background-color: #F6F6F6;
    margin-top: 0;
    border-radius: 0px 0px 5px 5px;
    padding: 36px 18px 19px 18px;
    animation: collapse_text 1s ease-in-out;
}

@keyframes collapse_text {
    0% {
        overflow: hidden;
        max-height: 0%;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    
    50% {
        max-height: 50%;
    }
    
    100% {
        max-height: 100%;
    }
}